body {
    background-color: transparent;
    font-size: 1.2em;
}

.planInputs {
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.entry {
    flex: 1 1 21%;
    display: flex;
    gap: 10px;
    max-width: 31%;
}

.entry.submit {
    justify-content: flex-end;
}

.plan > button {
    width: 100px;
    height: 100px;
    border: transparent;
    background-color: transparent;
    font-size: 3em;
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entry > button {
    font-size: 0.9em;
    background-color: lightgreen;
}

input#currentDistance, input#goalDistance {
    width: 15%;
}

input#name {
    width: 60%;
}

.plan {
    margin: auto;
    width: 60%;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.workoutHeader {
    width: 100%;
    text-align: center;
}

.workout {
    border: 2px solid lightgray;
    border-radius: 25px;
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 2%;
}

.workout > .title {
    text-align: center;
    font-weight: bold;
}

.workout > div {
    padding: 2%;
}

.workout > .description {
    font-size: 1em;
}

.definitions {
    font-size: 0.8em;
}

.definition > span {
    font-weight: bold;
}

.stats {
    margin: auto;
    margin: 40px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}