body {
    background-color: transparent;
    font-size: 18px;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50px;
    background-color: #12171e;
    color: white;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 200px;
}

.plan-list .saved-plan {
    border-top: 1px solid white
}

.main-content {
    position: relative;
    left: 50px;
    width: calc(100% - 50px);
    transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
    left: 200px;
    width: calc(100% - 200px);
}

.sidebar > .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.plan-inputs {
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.entry {
    flex: 1 1 21%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.entry.submit {
    justify-content: flex-end;
}

.workout-body > button {
    width: 100px;
    height: 100px;
    border: transparent;
    background-color: transparent;
    font-size: 60px;
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entry > button {
    font-size: 20px;
    background-color: lightgreen;
}

input#startDistance, input#goalDistance {
    width: 50px;
}

input#name {
    width: 60%;
}

input#runsPerWeek {
    width: 120px;
}

.plan {
    width: 100%;
    margin-top: 40px;
}

.workout-header {
    width: 100%;
    text-align: center;
}

.workout-header > p {
    margin: 5px;
}

.workout-body {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.workout {
    border: 1px solid black;
    border-radius: 25px;
    width: 550px;
    height: 300px;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 10px;
}

.workout > .title, .workout > .date {
    text-align: center;
}

.workout > .date {
    color: #71797E;
}

.workout > .title {
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
}

.workout > div {
    padding: 10px;
}

.workout > .description, .definitions {
    font-size: 15px;
}

.definition > span {
    font-weight: bold;
}

.stats {
    width: 100%;
    text-align: center;
}

.error {
    color: red;
    font-size: 12px;
}