body {
    background-color: transparent;
    font-size: 18px;
}

.planInputs {
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.entry {
    flex: 1 1 21%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.entry.submit {
    justify-content: flex-end;
}

.plan > button {
    width: 100px;
    height: 100px;
    border: transparent;
    background-color: transparent;
    font-size: 60px;
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entry > button {
    font-size: 20px;
    background-color: lightgreen;
}

input#currentDistance, input#goalDistance {
    width: 50px;
}

input#name {
    width: 60%;
}

.plan {
    margin: auto;
    width: 60%;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.workoutHeader {
    width: 100%;
    text-align: center;
}

.workoutHeader > p {
    margin: 5px;
}

.workout {
    border: 1px solid black;
    border-radius: 25px;
    width: 550px;
    height: 300px;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 10px;
}

.workout > .title, .workout > .date {
    text-align: center;
}

.workout > .date {
    color: #71797E;
}

.workout > .title {
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
}

.workout > div {
    padding: 10px;
}

.workout > .description, .definitions {
    font-size: 15px;
}

.definition > span {
    font-weight: bold;
}

.stats {
    width: 100%;
    text-align: center;
}

.error {
    color: red;
    font-size: 12px;
}